body {
	background-color: grey;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.main-div {
	text-align: center;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-header {

}

.link:* {
	text-decoration: none;
}

.construction-area {
	width: 18em;
	margin: 0 auto;
	display: flex;
	align-items: center;
	text-align: center;
}

.construction-area > * {
	padding-left: 10px;
	padding-right: 10px;
}

.contact-area {
	margin: 0 auto;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 85px;
	width: 100%;
}

.contact-link > * {
	display: inline-block;
	margin: 25px;
}

.projects-title {
	display: inline-block;
	color: white;
}

.project-entry {
	border: 1px solid lightgray;
	border-radius: 2px;
	display: inline-block;
	margin: 10px auto;
	padding: 10px;
}

.project-entry:hover {
	background-color: lightgray;
	-webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}

hr {
	width: 15%;
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	color: rgb(255, 255, 255);
}

a:hover {
	text-decoration: none;
	color: black;
	-webkit-transition: color 500ms ease-out 1s;
    -moz-transition: color 500ms ease-out 1s;
    -o-transition: color 500ms ease-out 1s;
    transition: color 500ms ease-out 1s;
}

h1{
	font-family: arial;
	font-size: 8em;
}
